<div id="footer">
    <div class="container">
        <!-- <div class="social">
            {% for social in pages["_meta"].meta.social %}
                <a href="{{ social.url }}" title="{{ social.title }}" role="button">
                    <span class="icon-{{ social.icon }}" aria-hidden="true"></span>
                    <span class="sr-only">{{ social.title }}</span>
                </a>
            {% endfor %}
        </div>-->
        <p>
          Copyright 2020 - Tim White
        </p>
        <p id="pgp">PGP Key | tim@timwhite.io</p>
        <code id="public-key">
        -----BEGIN PGP PUBLIC KEY BLOCK-----
        mQGNBF+xTOMBDAClLUnkGJSjEz07AZTbXewC+DoSdI2svpTvVgFCtiG12Tw0N9EYxT17LrvjzvFZdcadHkaLbEBD1q4DthpVZtr6dSgiqx8stVrIyMByyjRSWv2SrjkwoF5uhizH3qE/f2hiWoTFM1Zjqme266qrxsxYdhICubGDXUFcfSK6PHjR7npRllPSI2hltvKUndWL/8AkFeMKSu4Ee3uWKKK06cHyr4I40P1+Dk574G3DDnUCj4ROob8BaXEHoRLrbQ4fgU67yKGOhk6d6EJGF5gvaP4+I1J3B0apojOtmkIqojcIIv1LyNXIkwxymwQNwdInuCR7e4eVu9tZx7xcFgtvLTBFY0KeWiN4+fOmOp2/+LsVvHI6p1m0BI1cKu2MX68JBKU/iN/H4GKmQtNXTiFj5/YvdV5e9DsRD/XI8MLw1wBxTEJ/kPUm6IUZBHSeVeMfYREjLrwmu3N1cNTKv+B+GzyAqbt3+fICIza1hX2oj8y4DoQYfbXkwzBTCPhx2iu8kLcAEQEAAbQbVGltIFdoaXRlIDx0aW1AdGltd2hpdGUuaW8+iQHUBBMBCgA+FiEELWzdMBOFefc68xhaWsRWmQezgdwFAl+xTOMCGwMFCQPCZwAFCwkIBwIGFQoJCAsCBBYCAwECHgECF4AACgkQWsRWmQezgdxhZgv+PFeUQ5bzxr7n4F8cjSENEnhFNMrA7mKJxIaWGaXoupxCAf7Dk9Hwkf7Yvdc/NZug2Nv2JjWstnflh/87a+F/QYjuaVtopg+RFXUYpt3go2zV/I0HEZqSkvcDAD2tlfsJ1KZ/iYqeidTHSXwDOWg4rNmjjwZfrZ/e+5yVyZfgsuAZpmgsTYyDTvYRe153IKdHfFKMXr2CGqRI5Omar5Ln7lLAdThIqbeTFpqfnoCsulowGoOa89GWYnpJYfXmkwxWVPZ0lNAxcqZuXf6PTSXmLBUy4MBAL4xqxEblPyX8JSzc7tTKpTJ/Eru/qo0QQTsr6mcvJdhhq0lBu/ULZSR+msulZblTkn5GOWILvXfQgjupq70a192cBuMdmURN/SOjvj/rwfMi7iN9+wJ0x/tyYhjLHvVPhmKPrbxJe5NE0n5WHK6qOSivO1rq+Ep3XH0fdOKsAs7RC9EjbJBaXg8BAN9yo58f2m94g2EI51ITQznnNKZaQGiVdxd54vEFaQ0IuQGNBF+xTOMBDAC5xs5XQbvfT34fM9ZHB1Q4KMRDsmmgCRCl1/mPlaw4lmhTFiWpUp/G0tuRJqj4zw974iUIRD9gkz9JziKDQRr91KJ76zezX4oVh7wn2OPokE1WUPT3SJ9DG1pLIgsHBpphmZGwc5cPXW7eBiQBkxFeVicyTBhNJjJGI1VguJ/buT0H7WrMCtC/UYk6CjufdLppMaI7o59SuBDvUsJl1uLfUlsbc8UcnbCFGzbNiyCaGPM8Slq2Rh7MMJBSLptHu4CM4R3mMAU/SlHx52JTVC6S98Otb5fItAE4jfCKDMVlnTpGSRED5EcK6cYw5s2Ti3dimGghaAx//ErOJHRojFMjRNzSpAn0vzB1hmE5CJNzPZowJoumV1FQ+fAYXdk0WuAjAl1g5L4F81SGT6gk2aEeJv7/9t5+6AMSI+O4uSepzyFU80sbiEiW9l3dvbelLDQRNxnxkCTB/3/rLG1oD1kLaOJLfZZKiYx3Morvh4nYyyb/8dDNxTQZlOUPDllgNxsAEQEAAYkBvAQYAQoAJhYhBC1s3TAThXn3OvMYWlrEVpkHs4HcBQJfsUzjAhsMBQkDwmcAAAoJEFrEVpkHs4HcSFgL+QGd8EVrRPKQCjU4WJ7V3eUNxFnhprGZpFTvBAPugxsi5BuxCUiad4bBtTgbuOE85xD4Fb+LYfKUPAIL2c0k7KuT9kKOZ9atDh6exDNNT3sVTJvTZiCCKZvy+MvbN1OQiVh/A5IK7nmxz8JFqxKB+LuePnPJyYWhyNK6hfSzU32To73Fa+rOlevu+JBoqxUJAu+wWDzwgqg4rtwesJf4otC/35FgQaYLDOcKT/UeqzIj3xn6I3iHgF3qc0HHnhVMSmTnv+I4Q+nhORqANCw1jeVxFhOv3A7fVGpt2pR5tmhUklDm9XSvC6KqlueUGNpELJW63nQicwUSAUsox6CUVkxsb8s6ENpFBwP2c8lrzx/wdTiFlhDvgKZreXq0OUCu+iE82k6O6hZNAZi1tSwwq9o4BeJlW5LO+1hERslis9/Fdzu1G/SfH4NJ2vAHVw4mKmERrmOTUNVQ8wO0F84YtWE1a3qYu/b8suigknFECBn8MCx2NbExKTiM/cz2aDDVnw===wLPe
        -----END PGP PUBLIC KEY BLOCK-----
        </code>
    </div>
    <div class="lightbox"><img id="active-image" /></div>
</div>

<script src="{{ theme_url }}/js/modernizr-3.3.1-custom.min.js" type="text/javascript"></script>
<script src="{{ theme_url }}/js/utils.js" type="text/javascript"></script>
<script src="{{ theme_url }}/js/pico.js" type="text/javascript"></script>

</body>
</html>
